/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Typography */

@font-face {
  font-family: 'VCR';
  src: url('fonts/vcr.eot'); /* IE9 Compat Modes */
  src: url('fonts/vcr.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       /*url('fonts/vcr.woff2') format('woff2'), /* Super Modern Browsers */
       /*url('fonts/vcr.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/vcr.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/vcr.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* General */

body, html {
  min-height: 100vh;
}

body {
	font-family:  VCR, Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, Monospace;
	color: #ababab;
}

img:hover, a:hover {cursor:pointer;}

ul li {list-style-type:none;display:inline;padding:0 15px;text-transform:uppercase;}

a, a:hover {text-decoration:none;color:inherit}

/* Layout Specific */

.container {
	max-width: 1500px ;
}

.begin-img {
	margin-top:10%;
}

.logo {
	padding-top:1%;
}

.links {
	padding:2% 0;
}

.mobile, .desktop, .tablet {
	min-height:100vh;
}

.row {
	min-height:15vh;
	max-height:15vh;
}

.ttt {
	margin: 2% 0 5% 0;
}

/* Images */

img {
	max-width:100%;
	max-height:230px;
	padding:2.5% 10%;
}

.logoImg {
	margin:0 auto;
	max-height:100px;
	padding: 0 !important;
}
/* Media Queries */

@media only screen and (min-width: 1500px) {
	img {max-height: 250px;}
}

@media only screen and (max-width: 480px) and (min-width: 0px) {
	.mobile {display:block;}
	.desktop, .tablet {display:none;}
	img {max-height: 400px;}
	.begin-img {margin-top:0%;}
	.row {min-height:0vh;}
	.logoImg {margin-top:2%;}
	ul li {padding: 0 40px;}
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
	.mobile, .desktop {display:none;}
	.tablet {display:block;}
	img {max-height: 350px;}
	.begin-img {margin-top:0%;}
	.row {min-height:7vh;}
	.logoImg {margin-top:2%;}
	ul li {padding: 0 40px;}
}

@media only screen and (min-width: 769px) {
	.desktop {display:block;}
	.tablet, .mobile {display:none;}
}
